[submodule "themes/mixedpaper"]
	path = themes/mixedpaper
	url = https://github.com/juancarrey/hugo-theme-mixedpaper.git
[submodule "themes/soho"]
	path = themes/soho
	url = https://github.com/juancarrey/soho.git
